################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Dima
/Dima.Api/obj/Debug/net8.0
/Dima.Core/obj/Debug/net8.0
/.vs/ProjectEvaluation
/Dima.Api/bin/Debug/net9.0/cs
/Dima.Api/bin/Debug/net9.0/de
/Dima.Api/bin/Debug/net9.0/es
/Dima.Api/bin/Debug/net9.0/fr
/Dima.Api/bin/Debug/net9.0/it
/Dima.Api/bin/Debug/net9.0/ja
/Dima.Api/bin/Debug/net9.0/ko
/Dima.Api/bin/Debug/net9.0/pl
/Dima.Api/bin/Debug/net9.0/pt-BR
/Dima.Api/bin/Debug/net9.0/ru
/Dima.Api/bin/Debug/net9.0/tr
/Dima.Api/bin/Debug/net9.0/zh-Hans
/Dima.Api/bin/Debug/net9.0/zh-Hant
