################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Dima
/Dima.Api/obj/Debug/net8.0
/Dima.Core/obj/Debug/net8.0
