@page "/login"
@layout HeadlessLayout

<h1>Login</h1>
<h2>Tela de Login</h2>

<PageTitle>Dima - Entrar</PageTitle>

<MudBlazor.MudGrid Justify="MudBlazor.Justify.Center">
    <MudBlazor.MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudBlazor.MudPaper Class="mud-width-full pa-8">
            <h1>Autentique-se</h1>
        </MudBlazor.MudPaper>
    </MudBlazor.MudItem>
</MudBlazor.MudGrid>