@page "/"
@using MudBlazor
@inherits HomePage

<MudGrid Justify="Justify.Center">
    <MudItem lg="6" md="12" sm="12" xs="12">
        <MudCard Class="pa-8">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Resumo Financeiro</MudText>
            </MudCardHeader>
            <MudCardContent>
                <p>
                    <strong>SALDO</strong>
                </p>
                @if (Summary is null)
                {
                    <div class="d-flex justify-content-center align-content-center" style="height: 350px"></div>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem lg="6" md="12" sm="12" xs="12">
        <MudCard Class="pa-8">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Receitas e Despesas</MudText>
            </MudCardHeader>
            <MudCardContent>
                <IncomesAndExpensesChart />
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem lg="6" md="12" sm="12" xs="12">
        <MudCard Class="pa-8">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Entradas por Categoria</MudText>
            </MudCardHeader>
            <MudCardContent>
                <IncomesByCategoryChart />
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem lg="6" md="12" sm="12" xs="12">
        <MudCard Class="pa-8">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Despesas por Categoria</MudText>
            </MudCardHeader>
            <MudCardContent>
                <ExpensesByCategoryChart />
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>